<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.grafstal" version="1.0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TV Grafstal</name>
    <description>
        Turnvereine Grafstal App
    </description>
    <author email="info@grafstal.ch" href="http://www.grafstal.ch">
        Raffael Santschi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="30" />
    <icon src="res/icon.png" />
    <splash src="res/splash.png"/>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
        <icon qualifier="mdpi" src="res/icon/android/mipmap-ldpi/ic_launcher.png" />
        <icon qualifier="hdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
        <icon qualifier="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
        <icon qualifier="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon qualifier="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />

        <splash src="res/screen/android/splash_hdpi_landscape.png" density="land-hdpi" />
        <splash src="res/screen/android/splash_ldpi_landscape.png" density="land-ldpi" />
        <splash src="res/screen/android/splash_mdpi_landscape.png" density="land-mdpi" />
        <splash src="res/screen/android/splash_xhdpi_landscape.png" density="land-xhdpi" />

        <splash src="res/screen/android/splash_hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash_ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash_mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash_xhdpi.png" density="port-xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/60.png" width="60" height="60" />
        <icon src="res/ios/120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/76.png" width="76" height="76" />
        <icon src="res/ios/152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/40.png" width="40" height="40" />
        <icon src="res/ios/80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/57.png" width="57" height="57" />
        <icon src="res/ios/114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/72.png" width="72" height="72" />
        <icon src="res/ios/144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/ios/167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/29.png" width="29" height="29" />
        <icon src="res/ios/58.png" width="58" height="58" />
        <icon src="res/ios/87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/50.png" width="50" height="50" />
        <icon src="res/ios/100.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/ios/167.png" width="167" height="167" />
        <!-- iTunes Marketing Image -->
        <icon src="res/ios/1024.png" width="1024" height="1024" />

        <splash height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    </platform>
</widget>
